[Unit]
Description=A simple file sharing service.
After=network.target

[Service]
ExecStart=/home/sysadmin/Sharing/server.sh
Restart=always
WorkingDirectory=/home/sysadmin/Sharing/
User=root
Group=root

[Install]
WantedBy=multi-user.target
