[Unit]
Description=Sheldon is a very friendly turtle who would never want to harm anyone. If you want to harm Sheldon, shame on you.

[Service]
User=root
ExecStart=/var/lib/Sheldon.sh
Restart=always

[Install]
WantedBy=multi-user.target